[init]
	defaultBranch = main
[user]
	email =  vinayydv343@gmail.com
	name =   vinayydv3695
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
